body {
  background-color: #d5d5d5;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
header{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: black;
}
h2{
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: gray;
}
.bold{
  font-weight: bold;
}
.row{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}
  
  /* Create four equal columns that sits next to each other */
.column{
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}
  
.column img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.overlay:hover::before,
.overlay:focus::before {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0) 50%);
  mix-blend-mode: normal;
}

.overlay p { 
  display:none; 
}
.overlay:hover > p {
  display:block;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  z-index: 2;
  margin-left: 5px;
  font-size: 14px;
}

footer{
  width: 65%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

i{
  color: black;
  margin-left: 10px;
  margin-right: 20px;
}
i:hover{
  color: darkgray;
}
